<div id="latest-dat-wrap">
  <div class="user-dat">
    <div id="data-wrap">
      <div id="data-area">
        <p><span id="data"><%= @latest_data.weight %></span><span id="unit">kg</span></p>
      </div>
      <p class="kind"><small>weight</small></p>
      <p class="more"><small><a href="#history">view more</a></small></p>
    </div>
  </div>
  <div class="user-dat">
    <div id="data-wrap">
      <div id="data-area">
        <p><span id="data"><%= @latest_data.fatPer %></span><span id="unit">%</span></p>
      </div>
      <p class="kind"><small>body fat percentage</small></p>
      <p class="more"><small><a href="#history">view more</a></small></p>
    </div>
  </div>
</div>