<div id="latest-dat-wrap">
  <div class="user-dat">
    <div id="data-wrap">
      <div id="data-area">
        <p><span id="data"><%= @latest_data.weight %></span><span id="unit">kg</span></p>
      </div>
      <p id="kind">weight</p>
      <p id="more"><a href"#">view more</a></p>
    </div>
  </div>
  <div class="user-dat">
    <div id="data-wrap">
      <div id="data-area">
        <p><span id="data"><%= @latest_data.fatPer %></span><span id="unit">%</span></p>
      </div>
      <p id="kind">body fat percentage</p>
      <p id="more"><a href"#">view more</a></p>
    </div>
  </div>
</div>