<% hst_weight = [] %>
<% hst_bodyFatPer = [] %>
<% hst_date = [] %>
<% hst_weight_per = [] %>
<% hst_bodyFatPer_per = [] %>
<% hst_weight, hst_bodyFatPer, hst_date, hst_weight_per, hst_bodyFatPer_per =  get_history_dat %>

<div class="activities">
  <% hst_weight.count.times do |i| %>
  <div class="activity grid-x">
    <div class="cell small-2"><i class="fas fa-weight fa-2x"></i></div>
    <div class="cell small-8"><%= hst_weight[i] %> <small>kg</small><br /><small><%= hst_bodyFatPer[i] %> %</small></div>
    <div class="cell small-2"><i class="fas fa-calendar-alt"></i><br /><small><%= hst_date[i] %></small></div>
  </div>
  <% end %>
</div>